<div data-role="view" id="document-attach" class="home"data-model="app.documentAttach.viewModel" data-show="app.documentAttach.viewModel.show">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">
                <div class="matches-logo">
                   <a class="docs-back" data-role="backbutton">Back</a>
                    <a data-align="right" data-bind="click: refreshView,invisible: showrefreshLoading" class="refresh-com docs-refresh">refresh</a>
                    <a data-align="right" data-bind="click: refreshView,visible: showrefreshLoading" class="refresh-loading docs-refresh">refresh</a>
                    <a data-align="right" data-rel="popover" href="#popover-people" data-role="button" class="docs-popup"></a>
                </div>
            </span>
        </div>
    </div>
    <div  class="documentContent" data-role="content">
        <a class="inner-docs-back"   data-bind="click:goBackLastPage,visible:innerdocsAttachPage"><span>Documents</span></a>
        <div class="km-listview-wrapper"><ul id="documentList" data-role="listview"></ul></div> 
    </div>
    <ul data-role="actionsheet" id="inboxActions" data-open="onOpen" >
        <li><a href="#" data-action="app.documentAttach.viewModel.getImage">Photos</a></li>
        <li><a href="#" data-action="replyAll">Other files</a></li>
    </ul>
     <div data-role="footer">
        
                <div class="movebuttonArea clearfix">
            		 <input name="Attach" type="submit" data-role="button" value="Attach" data-name="Attach" data-bind="click:attachDocumentData" class="BTgren">
                     <input name="button" type="submit" data-role="backbutton" value="Cancel" class="shareButton-gray">
                     <a data-role="button"  data-rel="actionsheet" href="#inboxActions">Upload New Files</a>
                </div>
     </div>
</div>

<!--New exisiting Document Template-->
<script id="documentList-template" type="text/x-kendo-template">
    # for (var i = 0; i < data[0].length; i++) { #
    <li> 
     #if(typeof data[0][i]['docType'] !== "undefined" || typeof data[0][i]['docType'] !== "undefined"){#
                #if(data[0][i]['docType'] === "Folder"){#
                    #if(data[0][i]['name'] === "Shared Files" || data[0][i]['name'] === "Shared Folders"){#
                    	<table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                        	<tr>
                            	<td class="sharedfolder" data-id="#: data[0][i]['id'] #" data-bind="click:getInnerDocs"></td>
                                <td  data-bind="click:getInnerDocs" data-id="#: data[0][i]['id'] #"> #: data[0][i]['name'] #</td>
                                <td></td>
                            </tr>
                        </table>
                    #}else{#
                   	 <table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                        	<tr>
                            	<td class="Folder" data-id="#: data[0][i]['id'] #" data-bind="click:getInnerDocs"></td>
                                <td data-id="#: data[0][i]['id'] #" data-bind="click:getInnerDocs"> #: data[0][i]['name'] #</td>
                                <td><input type="checkbox" name="checkbox[]" disabled="true" value="#: data[0][i]['id'] #"></td>
                            </tr>
                        </table>
                    #}#
                #}else{#
                	# var ext = getFileExtension(data[0][i]['name']) #
                	 <table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                        	<tr>
                            	<td data-id="#: data[0][i]['id'] #"class="#= ext # default-icon"></td>
                                <td data-id="#: data[0][i]['id'] #"> #: data[0][i]['name'] #</td>
                                <td><input type="checkbox" name="checkbox[]" value="#: data[0][i]['id'] #"></td>
                            </tr>
                        </table> 
                #}#
          	#}#
    </li>        
    #}#
    #function getFileExtension(filename)
    {
        var ext = /^.+\.([^.]+)$/.exec(filename);
        return ext === null ? "" : ext[1];
    }#

</script>