<div data-role="view" id="document-pending" data-model="app.documentService.viewModel" data-show="app.documentService.viewModel.show">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">
                <div class="matches-logo">
                    <a data-bind="click:gobackMatchesPage">Back</a>
                </div>
            </span>
        </div>
    </div>
    <div  data-role="content">
        <div class="documentList">
            <div id="matchDocList" class="wrap-content ">
                <div class="accord_wrap">
                    <h2 >Please upload required documents</h2>
                    <div class="rows" id="requireDocsList">
                       
                    </div>
                </div>
                <button style="background: none repeat scroll 0 0 #999;border: 0 none;border-radius: 6px 6px 6px 6px;color: #FFFFFF;font-family: 'LucidaSansDemiboldRoman';font-size: 14px;font-weight: normal;height: 25px;margin-right: 10px;  padding: 0 10px; display: inline-block;" id="btnChoice1">Submit</button>  
                <div style="font-size: 10px;margin:5px;"><i>The Submit button will be activated after uploading the required documents.</i></div>
            </div>
        </div>
    </div>
</div>