 <!--Document Section---->
        <div id="tabstrip-file-upload"  data-role="view" data-show="app.fileuploadsetting.viewModel.filedocumentShow" data-model="app.fileuploadsetting.viewModel">
            <div data-role="header" class="docs-header">
                <div data-role="navbar">
                    <span data-role="view-title">
                    	<a class="docs-back" href="views/documentPending.html" data-role="button" >Back</a>
                    	<p class="docs-docu">Biz2Credit</p>
                    </span>
                </div>
            </div>

            <div class="documentContent" data-role="content">
                <a id="movePageback" class="inner-docs-back"   data-bind="click:gobackFileExportPage,visible: exportInnerPage"><span>Documents</span></a>
            	<div class="km-listview-wrapper"><ul id="dirContentUpload" class="dirContentUpload export"></ul> </div>
            </div>
            
            <div data-role="footer">
                <div class="movebuttonArea clearfix">
                    <p>Tap on file to upload</p>
            	</div>
            </div>
        </div>

<!-- Matches page template -->
        <script type="text/x-kendo-template" id="docs-upload-template">
            <table cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" align="left">
                #if(isDirectory === true){#
                    <tr>
                        <td class="Folder" data-id="folder" data-name="#: name #"></td>
                        <td data-id="folder" data-name="#: name #"> #: name #</td>
                        <td data-id="folder" data-name="#: name #"></td>
                    </tr>
                #}else{#
                # var ext = getFileExtension(name) #
                    <tr>
                        <td data-id="files" data-url="#: nativeURL #" data-bind="click:uploadFileToServer" class="#= ext # default-icon"></td>
                        <td data-id="files" data-url="#: nativeURL #" data-bind="click:uploadFileToServer"> #: name #</td>
                        <td data-id="files" data-url="#: nativeURL #" data-bind="click:uploadFileToServer"></td>
                    </tr>

                #}#

            </table>
            #function getFileExtension(filename)
            {
                var ext = /^.+\.([^.]+)$/.exec(filename);
                return ext === null ? "" : ext[1];
            }#
        </script>