
@media (min-width:0px) and (max-width:533px) {

html body .loginSection .km-list:not(.km-virtual-list)>li {margin: 0 0 2%;}
.forgtpass {padding: 0px 0 15px;}
.loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] { margin-bottom:0;}
#homePage .testimonials .test-content .test-l { float:none; display:inline-block; width: 30%;}
#homePage .testimonials .test-content .test-r { float:none; width:100%;}
#homePage .testimonials .test-content {text-align:center;}    
}
@media (min-width:0px) and (max-width:480px) /**480/854 **/{ 
.documentContent .km-listview-wrapper ul li .sharedfolder, .documentContent .km-listview-wrapper ul li .Folder, .documentContent .km-listview-wrapper ul li .default-icon {background-size: 70%;width: 15%;}
.documentContent .km-listview-wrapper ul li .default-icon {background-size:60%;}
.documentContent .km-listview-wrapper ul li table td:nth-child(2), .documentContent .km-listview-wrapper ul li table td {width: 75%;}
.documentContent .km-listview-wrapper ul li table td:nth-child(3), .documentContent .km-listview-wrapper ul li table td {width: 10%;}
.logLogo {height:210px;background-size:75%; margin:0 auto; background-position:center bottom}
.documentContent .km-listview-wrapper ul li { height:75px;}
.documentContent .km-listview-wrapper ul li table td:nth-child(3) a.docs-popup {padding:0; height:50px; width:50px;}
.documentContent .km-listview-wrapper ul li table tr {height:75px;}
.loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password] {padding:0.8em!important;}
#newuser ul.km-listinset li {margin-bottom: 5%;}
#newuser ul.km-listinset li select {background-size: 9%;}
#tabstrip-forgot-pass .view-content {margin-top:8em;}
.matches-logo {background-position: 10px 14px;height: 60px;background-size: 36%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-select {background-position: 95% 8px;background-size: 12%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li + li .k-select {background-size: 15%;}
#blackBlk .desbrdIcon .span {padding: 3.5% 11% 3% 15%;background-size: 11%;}
.stpsumry h2 {margin-top:0;}
.stpsumry p {font-size: 15px; margin-bottom:0;}
#stpSumAc { padding-left:20px; padding-right:20px;}
#tabstrip-folder-events-popup ul li a span, #tabstrip-files-events-popup ul li a span {padding:50px 0 0 0;}
 /*********************************Write By Vijay Mittal**********************************/
.nvbar{height:70px}
.nvbar .spnTxt{line-height:70px;}
#blackBlk .desbrdIcon .bizscor {float: right;margin-top: -13%;margin-bottom: 6px;text-align: center;}
#stps ul li article {overflow: hidden;box-shadow: 1px 3px 0px #acacac;text-align: left;padding: 10px 5px 5px;background-color: #fff;border: 1px solid #ccc;position: absolute;border-radius: 2px;z-index: 50;top: 80px;width: 250px;}
#stps ul li span {font-size: 11px;color: #ccc;display: block;height: 32px;}
#scheduleForm li select {font-size: 23px;position: static;width: 100%;height: 52px;margin: 0;background-image: url(../styles/images/time-schedule-icon.png);background-position: right center;background-size: 35px 30px;background-repeat: no-repeat;}
#scheduleForm li select option{color:#000 !important}
#scheduleForm li select:checked{color:red !important}
#homePage .testimonials .test-content .test-r p {font-size: 1em;line-height: 28px;text-align: justify;}
#homePage .testimonials .test-content .test-r span {font-size: 1em;margin-bottom: 30px;} 
}
@media (min-width:0px) and (max-width:640px) {
.logo { margin:3% auto;}
html body .loginSection .km-list:not(.km-virtual-list)>li { margin-bottom:2%;}
.documentClick .km-view-title a {padding: 5px 0px 0px;}
.documentClick .km-view-title a span{ padding-top:10px;}
#blackBlk .desbrdIcon .dasimg {width: 10%;}
#blackBlk .desbrdIcon .span {font-size: 1.2em;}
#blackBlk .desbrdIcon .span span {padding: 2% 0 0;}
#blackBlk .desbrdIcon {padding: 2%;}
.home .km-rightitem { height:100%; right:0;width: 12%;}
#blackBlk .desbrdIcon .span {/*background-image: url("images/dshbord-bgIcon.png"); background-repeat:no-repeat; */ background-size:11%;display: block;color: #fff;font-size: 1.35em;}
/*******Android css************/
.docs-header .km-widget .docs-docu { width:61%; font-size:1em; padding:1% 0 0;}
.docs-header .km-widget .docs-back {background-size: 81%;width: 11%;height: 58px;}
#blackBlk .desbrdIcon .span {background-size:16%; font-size:1.5em;}
.btngr {padding:9px 8px;font-size: 1.1em;}
.documentContent .km-listview-wrapper ul li .sharedfolder, .documentContent .km-listview-wrapper ul li .Folder {padding:5px 0%;background-position: 5px 7px;}
.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png {background-position:12px 7px;padding: 15px 0; background-size:52%;}
#tabstrip-files-events.modal-mess-Popup {}
.home .km-rightitem {width: 12%;}
.modal-mess-Popup {padding:0; width:98%; margin:0 0 0 1.3%;}
.modal-mess-one {padding:0; width:98%; margin:0 0 0 1.3%; }
.logLogo {margin: 3% auto;height: 60px;background-size:65%;}
#tabstrip-Setting .docs-docu {font-size:0.9em;padding: 1.2% 0 0;}
#tabstrip-Setting .docs-back {width: 12%;background-position: 5px 7px;background-size:87%;}
.schedulePopup h3 {font-size:15px;}
.schedulePopup .scheduleSection .scall-text {font-size:11px;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-picker-wrap .k-input {border-radius: 0;height: auto;}
#tabstrip-download-file.modal-mess-Popup, #tabstrip-upload-file.modal-mess-Popup {height:59%;}
body.vertical #tabstrip-download-file.modal-mess-Popup, body.vertical #tabstrip-upload-file.modal-mess-Popup {height:24%;}
    
#tabstrip-forgot-pass .view-content { margin-top:2em;}
#stps ul li article {width:260px;}
#stps ul li article span { font-size:10px; padding-bottom:8px;}
#newuser ul.km-listinset li {margin-bottom: 3%;}
#newuser ul.km-listinset li input[type=text], #newuser ul.km-listinset li select {padding: 1em!important;}
#newuser {margin: 12em 0;}
.documentContent .km-listview-wrapper ul li table td:nth-child(3) a.docs-popup, .documentContent .km-listview-wrapper ul li table td:nth-child(3) a.k-state-border-down { background-size:75%;background-position: center 6px;}
.documentContent .km-listview-wrapper ul li table td:nth-child(2) {height:50px; width:80%}
#aplicn_frm #credit_show p.imp50 { padding:0; width:100%;}
#aplicn_frm #debtwrapper .addons p.imp40 {width:50% !important;}
#aplicn_frm #debtwrapper .addons_det p.imp40 {width:100%!important;}
#aplicn_frm #debtwrapper .addons_det p.imp40 .IN5 {width:100%;}
#aplicn_frm select.IN1b.ipsm3, #aplicn_frm .IN4 {width:100%;}
#aplicn_frm select.IN1b.ipsm1 {width: 100%;}
.srh_men{ display:none}
#wrapper{ min-width:320px; width:100%;}
.colLf{ width:100%; float:none; clear:left; padding-bottom:50px;}
.colRg{ width:100%; float:none; clear:left; padding-bottom:10px;}
.colRg.helpful{ width:94%; float:none; padding:2.8%;}
.helpcont{width:100%; float:none}
.helpcontain{height:1px; padding-top:2px; float:right; display:block;}
.helpcontain ul{ margin:0px 0px 0px -215px;}
#top_rh .myacc { width: 110px;}
#aplicn_frm .rw_lin.hlp .tooltip p{width:100%; padding-right:0; float:none}
#aplicn_frm .rw_lin.hlp p .IN5 { width:100%;}
#aplicn_frm .rw_lin.hlp p .IN6 {width:100%;}
#aplicn_frm .rws p.imp33 .ipsm1{ width:100%}
#aplicn_frm .rws p.imp50{ width:48%; padding-right:2%; float:left}
#aplicn_frm .rws p.imp50 .ipsm3{ width:95%}
#aplicn_frm .rws p.imp40{ width:35%; padding-right:3%; float:left}
#aplicn_frm .rws p.imp40 .IN5{ width:92%}
#aplicn_frm .IN1 { width:100%}
#aplicn_frm .rws.rw1 p{ display:block; float:none; width:100%; }
#aplicn_frm .rws.rw3 p{ width:33%; float:left}
#aplicn_frm .rws.rw2 select.ipsm3 { width: 100%;}
#credScr .IN1, #credScr .inp2, #credScr .IN3, #aplicn_frm .ipsm1 { width:95%; margin-bottom:10px; float:none}
#aplicn_frm .rws .lftitb { width:100%; padding-right:20px;}
#aplicn_frm .rws.rw2 .ipsm4 { width:95%; }
#aplicn_frm .rws .rwfilb span { width:auto}
#aplicn_frm .montrnt .IN2 { width: 23%;}
#aplicn_tp ul.app_nav li span{padding:35px 0px 30px 0px; }
#aplicn_tp ul.app_nav li{ font-size:13px; margin-right:1%;}
#aplicn_frm .IN2 { width:65%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.k-state-active .actArw {left:47%; bottom:-92%; background-size:78%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li a{ font-size:14px; height:65px;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.postd_icn{ background-size:16%;background-position: 20px 22px!important;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.end_icon{ background-size:13%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.sevd_icon{ background-size:11%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.lon_icon{ background-size:14%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li a span {height:30px; width:30px; line-height:26px;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.k-state-active .actArw {left: 42%;bottom: -78%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.lon_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.sevd_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.end_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.k-state-active.postd_icn { background-position: 20px 22px !important;}
#tabstrip-manage-app .recent-activity .rcnt-actty, #tabstrip-manage-app .recent-activity .applyFrshLon a { font-size:1.1em; }
#tabstrip-manage-app .recent-activity .rcnt-actty {font-weight:bold;}
#tabstrip-manage-app #tabstrip .k-content ul.tabui li { padding:15px;}
#tabstrip-manage-app #tabstrip .k-content ul.tabui li span, #tabstrip-manage-app #tabstrip .k-content ul.tabui li span:first-child {font-size:14px;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li a span{left: 40%;}
.tabOne .head {display:block; padding: 15px;}
#tabstrip-manage-app #tabstrip .k-content ul.tabui li span:first-child, .tabOne .head span:first-child {width:87%;}
#tabstrip-manage-app #tabstrip .k-content ul.tabui li span, .tabOne .head span:last-child{ width:13%;}
#tabstrip-manage-app .refreshloan {width:6%;height: 62px;background-size:73%;background-position:center 18px;}
#tabstrip-manage-app #tabstrip ul li a { height:85px;padding: 43px 0 0px 0%;}
#tabstrip-manage-app #tabstrip ul li a span{margin:3% 0 0 42%; height:35px; width:35px; line-height:30px;}
.tabOne.withMatch .head span:nth-child(2) { font-size:15px;}
.documentList .wrap-content .row .num span {line-height: 35px;font-size: 20px;width: 35px;height: 35px;}
.documentList .wrap-content .row .num {width: 35px;}
.documentList .wrap-content .row, .documentList .wrap-content .row.off {background-size: 5%;background-position: right 17px;}
.documentList .wrap-content .row .name {width: 91%;}
#matchDocList .lastSubmit {padding: 0.3em 0.7em!important;}
.matches-logo {background-position: 5px 12px;background-size: 23.5%;}
#matchDocList .filesBlock .file-iconjpg {height: 40px;background-size:68%;width: 8%;}
#matchDocList .filesBlock .file-name{font-size: 17px;padding: 11px 0 0 0;}
.documentList .buttonSet{ width:120px;}
#matchDocList .filesBlock .buttonSet .downloadBtn {padding:0;}
.sub-row {padding: 9px 18px 7px 18px;}
#matchDocList .upload a {padding: 7px 13px;font-size: 14px;}
ul#documentList td:nth-child(1) {font-size: 1em;}
.home .popup {margin:0 !important;background-size: 58%;}
#tabstrip-manage-app #tabstrip .tabOne ul.tabui li {padding: 18px 15px;}
html body .backButton { width:84%; background-size: 28% !important;background-position: 5px 13px !important;}
#tabstrip-manage-app .refresh-loading {background-size: 95%;background-position: center 13px;}
#document-attach .km-rightitem a.refresh-com {background-position: center 13px;}
#document-attach .km-rightitem a.refresh-loading {background-position: center 18px;background-size: 52%;}
.docsUploadMulti .cancelUpld {background-size: 85%;}
.documentContent .km-listview-wrapper ul li table td {width: 10%;}
.docs-header .km-widget .refresh-com {width: 9%;background-position: center 6px;height: 50px;margin: 0.3em 0 0;}
.docs-header .km-widget .refresh-loading {background-position: center 16px;width: 9%;margin:0.3% 0 0;height: 50px;}
.docs-header .km-widget #docs-filter {margin: 0.2em 0 0;width: 80%;}
.docs-header .km-widget #docs-filter .km-filter-wrap{background-position: center 37px;}
.docs-header .km-widget .docs-popup {background-size:67%;}
li#undefined table td:nth-child(1).default-icon {background-size: 50%;}
li#undefined table td:nth-child(1) {width:10%;background-size: 66%;}
.docs-header .km-widget .docs-search {background-size: 82%;background-position: center 7px;height: 53px;}
#tabstrip-manage-app .docs-popup {width: 54px;}
#tabstrip-bizAnalyzer .refreshloan {height: 60px;background-size: 35%;background-position: center 18px;}
#tabstrip-bizAnalyzer .refresh-loading {height: 60px;background-size:46%;background-position: center 13px;}
#tabstrip-bizAnalyzer .backButton {width: 77%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-select {background-size: 9%;}
#dynamicCl.km-popup-wrapper {height:auto !important;}
#aplicn_frm #busInfobx2 .IN4c {width:96%;margin-bottom: 10px;}
#aplicn_frm .rws.rw2 p {padding-right: 0;}
html body #aplicn_frm .opt {padding-bottom:0px;}
.loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password] {padding: 0.8em !important;font-size: 0.95em !important;}
.loginSection {margin: 25px 10% 15px;}
.forgtpass {font-size: 0.95em;padding: 10px 0 5px;}
#newuser ul.km-listinset li input[type=text], #newuser ul.km-listinset li select {font-size: 0.65em;}
html body .loginSection .km-list:not(.km-virtual-list)>li {margin: 0 0 2%;}
#tabstrip-manage-app .refresh-loading {height: 55px;background-size: 53%;background-position: center 10px;}
#tabstrip-manage-app .refreshloan {height: 55px;}
html body .backButton {width: 81%;background-size: 30% !important;background-position: 5px 10px !important;}
#tabstrip-manage-app .docs-popup {width: 60px;}
.loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {font-size: 1em;}
}
@media (min-width:0px) and (max-width:580px) {
.logLogo {margin: 2% auto 1%;background-size: 50%;}
.loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password], .loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {padding: 0.9em !important;font-size: 1.4em !important;font-size: 1em !important;}
.home .km-rightitem {width:11%;}
#blackBlk .desbrdIcon .span span {padding: 2% 0 0;}
#blackBlk .desbrdIcon .dasimg {width:13%;padding: 0 2% 0 0 !important;}
#blackBlk .desbrdIcon .span span {padding:0% 0 0;}
#blackBlk .desbrdIcon {padding: 1% 1% 0 1%;}
#blackBlk .desbrdIcon .span span { font-size:1.1em;}
#tabstrip-Setting .docs-docu{font-size: 0.9em;padding: 0 0 0 0.5%;line-height: 2.5em;}
#tabstrip-Setting .docs-back {width: 10%;background-position: center 2px;}
#tabstrip-Setting .Setting-ac, #tabstrip-Setting ul#settingpage li {padding:4% 0 4% 11%;background-size: 7%;}
.matches-view li .row1 span {font-size: 0.6em;}
.matches-view li .row3 a.appy, .matches-view li .row3 a {background-size: 20%;padding:2.2em 0em 0.5em;font-size: 0.9em;}
.matches-view li .row3 a.pending{background-size: 20%;}
.matches-logo {background-size:20%;height: 55px;}
.schedulePopup h3 {font-size: 17px;}
.documentContent .km-listview-wrapper ul li .sharedfolder, .documentContent .km-listview-wrapper ul li .Folder,.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png {padding: 11px 0%;}
.reqWindow + .doc-content ol {font-size:1em;}
#blackBlk .desbrdIcon .span {/*background-image: url("images/dshbord-bgIcon.png"); background-repeat:no-repeat; */ background-size:10%;display: block;padding:3% 13% 5%;color: #fff;font-size: 1.2em;}
.folder-events .km-scroll-container .closeBt span {font-size: 17px;}
#tabstrip-download-file.modal-mess-Popup, #tabstrip-upload-file.modal-mess-Popup { padding: 0;width: 98%;margin: 0 0 0 1.3%;height:56%;}
.forgtpass {font-size: 0.95em;padding-top: 10px;padding-bottom: 0px;}
#newuser ul.km-listinset li input[type=text], #newuser ul.km-listinset li select{ padding:1.1em !important;}
#newuser {margin: 1.5em 0;}
#newuser .buttonArea input[type=submit] { padding:0.6em !important;}
#dynamicCl.km-popup-wrapper { height:225px !important;}
#tabstrip-manage-app .refreshloan {background-position: 17px 20px;}
#tabstrip-manage-app .refresh-loading {background-position: center 15px;}
.loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {font-size:0.75em !important;}
#aplicn_frm .rws .lftitb, #aplicn_frm .rws .rwfil label, #aplicn_frm .rws .rwfilbc label, #aplicn_frm .labl_tx2 {font-size: 0.9em;}
#blackBlk .desbrdIcon {padding: 2%;display: block;}
#blackBlk .desbrdIcon .dasimg { width:11%; padding:0 2% 0 0 !important; }
#blackBlk .desbrdIcon .span span { float:left; padding:2% 0 0;}
#blackBlk .desbrdIcon .span {/*background-image: url("images/dshbord-bgIcon.png"); background-repeat:no-repeat; background-position: right 45%; background-size:9%;*/ display:block; padding:0% 0 1%; color:#fff; font-size:1.2em;}
#stps ul li span{ font-size:13px;}
.stpsumry h2 { font-size:1em; line-height:25px;}
#stpSumAc { padding:15px 2% 5px;}
#stps ul li.activ span.dnar { height:25px; background-size:33%;}
.stpsumry p { font-size:12px; margin:0;}
.stpcurrntAc { padding-top:10px;}
.documentClick .km-view-title a img {padding:0px 5px 0 0; width:33%; display:block;}
#blackBlk .desbrdIcon .span span {padding:2% 0 0;}
.stpsumry p { font-size:13px;}
.docs-header .km-widget .docs-back { width:11%; height:50px;background-position:2px 56%;background-size: 87%;}
.docs-header .km-widget .docs-docu { padding:5px 0 0; width:63%; font-size:0.9em;}
.docs-header .km-widget .docs-search { width:7%; margin:0;background-position: center 7px;height: 50px;}
.docs-header .km-widget .refresh-com { width:9%;background-position: center 9px; background-size:70%;}
.docs-header .km-widget .refresh-loading { width:9%;}
.documentContent .km-listview-wrapper ul li .sharedfolder, .documentContent .km-listview-wrapper ul li .Folder { padding: 5px 10px 5px 12%;background-position: 5px 9px;}
.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png { background-position:12px 7px;padding: 5px 0%;}
.modal-mess-Popup {padding:0; width:98%; margin:0 0 0 1.3%;}
.modal-mess-one {padding:0; width:98%; margin:0 0 0 1.3%; }
.km-flat .km-header .km-navbar { padding:0%;}
#tabstrip-download-file.modal-mess-Popup, #tabstrip-upload-file.modal-mess-Popup { padding: 0;width: 98%;margin: 0 0 0 1.3%;}
.logo { margin:3% auto;}
.logLogo { margin:1% auto;height: 60px;background-size:50%;}
html body .loginSection .km-list:not(.km-virtual-list)>li { margin-bottom:2%;}
.schedulePopup h3 {font-size: 1.15em;}
.schedulePopup .scheduleSection .scall-text { font-size:0.75em;}
.documentClick .km-view-title a {padding: 5px 0px 0px;}
.stpcurrntAc p { font-size:12px;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-select, .schedulePopup .scheduleSection .km-listview-wrapper ul li + li .k-select{ background-size:10%; background-position:95% 6px;}
.stpcurrntAc p a{ padding:3px 15px 3px 25px !important; background-size:13% !important; background-position:5px 2px !important;}
.home .popup { width:40px; height:60px;background-size: 100%;}
.k-notification-wrap {font-size:0.8em;}
#tabstrip-files-events.modal-mess-Popup {}
.docs-header .km-widget .refresh-loading{background-position: center 13px;background-size: 50%;}
.documentContent ul.export {list-style:none;}
.documentContent ul.export li span {padding: 5px 10px 5px 12%;background-size: 9%;}
.documentContent ul.export li .folder {background-image: url(images/folder.png); background-repeat:no-repeat;background-position:5px 7px;}
.docs-header .km-widget #docs-filter {width: 80%;}
.loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password], .loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {padding: 0.9em !important;font-size: 1.4em !important; font-size:1em !important;}
.matches-logo {background-size: 22%;}
#tabstrip-Setting .docs-back{width: 12%;background-position: 5px 7px; background-size: 85%;}
#tabstrip-Setting .Setting-ac, #tabstrip-Setting ul#settingpage li{padding: 3% 0 3% 11%;background-size: 6.5%;background-position: 15px 7px;}
#blackBlk .desbrdIcon .dasimg {width:11%;}
#blackBlk .desbrdIcon {padding: 2%;}
.matches-view li .row3 a.appy, .matches-view li .row3 a {background-size: 20%;padding: 1.5em 0em 0.5em;font-size: 0.8em;}
.matches-view li .row3 a.pending{background-size: 20%;}
#blackBlk .desbrdIcon .span {/*background-image: url("images/dshbord-bgIcon.png"); background-repeat:no-repeat; */ background-size:15%;display: block;padding:3% 13% 3%;color: #fff;font-size: 1.2em;}
/*******Android css************/
.btngr{ padding:7px 8px; font-size:1.1em;}

.matches-view li .row3 a.appy, .matches-view li .row3 a {background-size: 20%;padding:2.5em 0em 0.5em;font-size: 0.8em;}
.folder-events .km-scroll-container ul li {padding: 2px;}
.folder-events .km-scroll-container .closeBt span {font-size: 18px;}
#tabstrip-download-file.modal-mess-Popup, #tabstrip-upload-file.modal-mess-Popup { padding: 0;width: 98%;margin: 0 0 0 1.3%;height:59%;}
#tabstrip-forgot-pass .view-content { margin-top:2em;}
#aplicn_frm .rw_lin.hlp p {width: 89%;}
#aplicn_frm ul.low_creditop li { width:50%; padding:0px 0% 10px 0px;}
#stps ul li span {line-height: 12px; color: #CCCCCC; display: block; font-size: 12px; height: 32px;}
.stpsumry h2 {color: #333333; font-size: 15px;}
.stpsumry p {color: #333333; font-size: 15px;}
/* 6 March */
#aplicn_frm .rws.rw1 p{ display:block; float:none; width:100%; }
#aplicn_frm .rws.rw1 .IN1 { width:100%;}
#aplicn_frm .montrnt .IN2 { width: 90%; margin-bottom:10px;}
#aplicn_frm .IN1{ width:280px; margin-right:8px; margin-bottom:10px;}
#aplicn_frm .IN1b { width:305px; margin-right:8px; margin-bottom:10px;}
#debtwrapper p a.rem_col {margin-bottom:7px;}
#aplicn_frm .rws.rw2 .ipsm4, #aplicn_frm select.IN1b.ipsm1, #aplicn_frm .rws.rw2 select.ipsm3, #aplicn_frm .IN1 {width:100%;}
#aplicn_frm select.IN1b.ipsm3 {width:100%;}
html body #aplicn_frm ul.low_creditop li.opt2 label.error {font-size:11px;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.k-state-active .actArw {left: 42%;bottom: -72%;}
#tabstrip-manage-app #tabstrip .tabOne {margin:5% 0 0;}
#tabstrip-manage-app #tabstrip .tabOne ul.tabui li span, .tabOne .head span:last-child {width: 15%;}
#tabstrip-manage-app #tabstrip ul li a span{ left:37%;}
#tabstrip-manage-app #tabstrip ul li.k-state-active .actArw{ left:38%;}
html body .backButton {width: 82%; height:50px;background-position: 5px 11px !important;}
#aplicn_tp ul.app_nav li.dn span {background-position: center 75px;}
#tabstrip-manage-app .refresh-loading {background-size: 94%;height: 50px;background-position: center 8px;width: 7%;}
#tabstrip-manage-app .refreshloan {background-position:center 15px; height:50px;width: 7%;}
.documentList .wrap-content .row .name {width: 90%;}
.documentList .wrap-content .row .num span {line-height: 31px;font-size: 17px;width: 30px;height: 30px;margin-top: 7px;}
.documentList .buttonSet {padding-top: 5px;}
#matchDocList .upload a {padding:3px 7px;font-size: 14px;}
#matchDocList .filesBlock .file-iconjpg {background-size: 88%;}
#document-attach .km-rightitem {width: 21%;}
#document-attach .movebuttonArea a.attechUpload {padding: 2%;margin: 5px 0 0 0;}
#tabstrip-manage-app #tabstrip div:nth-child(2) .tabOne .actArw {margin: 0 0 0 14%;}
#tabstrip-manage-app #tabstrip ul li.postd_icn {background-size: 15%;}
#tabstrip-manage-app #tabstrip ul li.end_icon {background-size: 13%;}
#tabstrip-manage-app #tabstrip ul li.sevd_icon {background-size: 11%;}
li#undefined table td:nth-child(1) {width: 13%;}
body.horizontal li#undefined table td:nth-child(1) {width: 13%;background-size: 60%;}
.matches-view li .row3 a.pending {font-size:0.8em;}
body.horizontal #tabstrip-download-file.modal-mess-Popup, body.horizontal #tabstrip-upload-file.modal-mess-Popup {height: 62%;}
.docsUpload .flNmUpld {padding: 20px 10px 20px;font-size: 1em;}
body.horizontal li#undefined table td:nth-child(1).default-icon {background-size:47%;}
.docs-header .km-widget .docs-popup {width: 50px;}
#tabstrip-manage-app .docs-popup {height: 50px;}
.matches-view li .row1 p {padding: 0 0 3px 0px;}
.matches-view li .row1 p img { max-width:80%;}
.matches-view li .row3 {padding: 20px 0 0 0;}
#tabstrip-bizAnalyzer .km-rightitem .docs-popup { width:50px;}
#tabstrip-bizAnalyzer .refresh-loading {height: 50px;background-size: 56%;background-position: center 6px;}
#tabstrip-bizAnalyzer .refreshloan {height: 50px;background-size:42%; background-position: center 12px;}
#tabstrip-bizAnalyzer .backButton {width: 78%;}
#scheduleForm li select {font-size: 16px;height: 40px;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li {width: 48.1%;}
#bz_an_mn_pg .ui-slider .ui-slider-tooltip {padding: 2px 2px 0px; font-size:15px;}
#aplicn_frm #debtwrapper .addons p.imp40 {width: 48% !important;margin: 0 2% 0 0;}
.rw_lin.cngopt > p {width: 89% !important;}
#aplicn_frm .rw_lin.hlp p .IN6 {width: 100%;}
#blackBlk .desbrdIcon .bizscor {margin-top: 0;}
html body #aplicn_frm .opt {padding-bottom: 15px;}
.km-flat .km-list input[type=password], .km-flat .km-list input[type=search], .km-flat .km-list input[type=number], .km-flat .km-list input[type=tel], .km-flat .km-list input[type=url], .km-flat .km-list input[type=email], .km-flat .km-list input[type=month], .km-flat .km-list input[type=color], .km-flat .km-list input[type=week], .km-flat .km-list input[type=date], .km-flat .km-list input[type=time], .km-flat .km-list input[type=datetime], .km-flat .km-list input[type=datetime-local], .km-flat .km-list input[type=text]:not(.k-input), .km-flat .km-list select:not([multiple]), .km-flat .km-list .k-dropdown-wrap, .km-flat .km-list textarea, .loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password], .loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {width: 99.9%;}
.loginSection {margin: 15px 10% 15px;}
html body .loginSection .km-list:not(.km-virtual-list)>li {margin-bottom: 4%;}
.loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {font-size:1em !important;}
}
@media (min-width:0px) and (max-width:390px) { 
html body .backButton {background-size: 50% !important;width: 76%;}
#tabstrip-manage-app .refresh-loading, #tabstrip-manage-app .refreshloan {width: 9%;}
#tabstrip-manage-app .docs-popup {height: 48px;}
html body .backButton {width: 75%;background-position: 5px 8px !important;}
.docs-header .km-widget .docs-back {width: 18%;background-position: 5px 5px;background-size: 82%;}
.docs-header .km-widget .docs-search {width: 10%;}
.docs-header .km-widget .refresh-com {width: 13%;background-position: center 8px;background-size: 69%;}
.docs-header .km-widget .refresh-loading{background-size: 50%;width: 13%;}
.documentContent .km-listview-wrapper ul li table td {width: 8.5%;background-position: 5px 8px;}
.documentContent .km-listview-wrapper ul li table td:nth-child(3) a.docs-popup, .documentContent .km-listview-wrapper ul li table td:nth-child(3) a.k-state-border-down {background-size: 57%;}
.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png {background-position: 16px 7px;}
.docs-header .km-widget #docs-filter {width: 69%;}
.docs-header .km-widget #docs-filter .km-filter-wrap {background-position: center 40px;}
#tabstrip-Setting .docs-back {width: 15%;}
.matches-view li .row2 p {font-size:0.8em;}
#dynamicCl.km-popup-wrapper {height: auto !important;}
#blackBlk .desbrdIcon .span {background-size: 28%;}
.km-ios .km-list > li, .km-flat .km-list > li {font-size: 13px;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li {width: 49%;}
}
@media (min-width:0px) and (max-width:370px) {
.logo { margin:4% auto;}
.logLogo { margin:17% auto;height: 60px;background-size:50%;}
html body .loginSection .km-list:not(.km-virtual-list)>li { margin-bottom:5%;}
.documentContent .km-listview-wrapper ul li .sharedfolder, .documentContent .km-listview-wrapper ul li .Folder {padding: 5px 0;background-position: 5px 7px;}
.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png {background-position:16px 5px;padding: 5px 0%;}
.docs-header .km-widget .docs-back { width:18%;background-position: 4px 60%;background-size: 83%;}
.docs-header .km-widget .docs-docu { padding:3px 0 0; width:43%;}
.docs-header .km-widget .docs-search { width:12%;background-position: center 9px; margin:0;background-size: 88%;}

.docs-header .km-widget .refresh-com { width:14%;background-position: center 10px; background-size:71%;}
.docs-header .km-widget .refresh-loading { width:14%;background-position: center 15px;background-size: 50%;}
#blackBlk .desbrdIcon {padding:3%;display: block;}
#blackBlk .desbrdIcon .dasimg { width:13%; padding:0 2% 0 0 !important; }
#blackBlk .desbrdIcon .dasimg img {max-width:100%; width:100%; height:auto; display:block;}
#blackBlk .desbrdIcon .span span { float:left; padding:2.2% 0 0;}
#blackBlk .desbrdIcon .span {/*background-image: url("images/dshbord-bgIcon.png"); background-repeat:no-repeat; */ background-size:17%;display: block;color: #fff;font-size: 1.2em;}
#stps ul li span{ font-size:11px;}
.stpsumry h2 { font-size:1em; margin:0 1% 1%; line-height:18px;}
#stpSumAc { padding:12px 2% 2px;}
#stps ul li.activ span.dnar { height:20px; background-size:45%;}
.stpsumry p { font-size:12px; margin:0 3%; height: auto; overflow:auto;}
.btngr{padding:6px 8px;}
.modal-mess-Popup {padding:0; width:98%; margin:0 0 0 1.3%; }
.modal-mess-one {padding:0; width:98%; margin:0 0 0 1.3%; }
.reqWindow + .doc-content ol {font-size:1em;}
.km-flat .km-header .km-navbar { padding:0%;}
#tabstrip-download-file .download-file-name .docx, #tabstrip-download-file .download-file-name .jpg, #tabstrip-download-file .download-file-name .doc, #tabstrip-download-file .download-file-name .txt, #tabstrip-download-file .download-file-name .xls, #tabstrip-download-file .download-file-name .pdf, #tabstrip-download-file .download-file-name .png {padding:35% 0 0;background-size:18%;}
#tabstrip-download-file.modal-mess-Popup, #tabstrip-upload-file.modal-mess-Popup { padding: 0;width: 98%;margin: 0 0 0 1.3%;height: 26%;}
#tabstrip-download-file .download-file-name .unkown {padding: 25% 0 0;}
#tabstrip-download-file .download-file-name .unkown, #tabstrip-download-file .download-file-name .jpeg, #tabstrip-download-file .download-file-name .gif, #tabstrip-download-file .download-file-name .ppt, #tabstrip-download-file .download-file-name .png, #tabstrip-download-file .download-file-name .txt, #tabstrip-download-file .download-file-name .docx, #tabstrip-download-file .download-file-name .xls, #tabstrip-download-file .download-file-name .xlsx, #tabstrip-download-file .download-file-name .rtf, #tabstrip-download-file .download-file-name .png, #tabstrip-download-file .download-file-name .pptx {}
.documentClick .km-view-title a{padding:4px 0px 0px;width: 56%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-select{ background-size:14%; background-position:95% 7px;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li + li .k-select{ background-size:14%; background-position:95% 13px;}
.docs-header .km-widget #docs-filter .km-filter-wrap { background-position:5px 41px; margin:0; padding:0; background-size:97%; width:90%;}
.docs-header .km-widget #docs-filter .km-filter-wrap input {padding:0 0 0 10px; }
.documentContent ul.export {list-style:none;}
.documentContent ul.export li span {padding: 5px 10px 5px 22%;background-size: 17%;}
.documentContent ul.export li .folder {background-image: url(images/folder.png); background-repeat:no-repeat;background-position:5px 7px;}
.documentClick .km-view-title a img {padding: 0px 5px 0 0;width: 36%;}
.stpcurrntAc p {padding: 6px 0px 4px 0px;}
.docs-header .km-widget #docs-filter {width: 77%;}
.matches-logo {background-size:35%;height: 50px;background-position: 10px 12px;}
.loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password], .loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] {padding: 0.9em !important;font-size: 1.4em !important; font-size:1em !important;}
.home .km-rightitem {width: 18%;}
#tabstrip-Setting .docs-back {width: 17%;background-size: 96%; height:44px;background-position: 5px 5px;}
.matches-view li .row3 a.pending {padding: 1.9em 0em 0em;font-size: 0.8em;line-height: 13px;}
/*******Android css************/
#blackBlk .desbrdIcon .span {background-size: 45px;display: block;color: #fff;font-size: 1.3em;background-position: left 4px;}
.matches-view li .row3 a.appy, .matches-view li .row3 a {background-size: 20%;padding: 1.5em 0em 0em;font-size: 0.8em;line-height: 20px;}
#tabstrip-Setting .Setting-ac {padding: 4% 0 4% 16%;background-size: 8.5%;background-position: 20px 7px;}
#tabstrip-Setting ul#settingpage li {padding: 4% 0 4% 16%;background-size: 8.5%;background-position: 20px 7px;}
.folder-events .km-scroll-container ul li {padding: 2px;}
.forgtpass {font-size: 1em;padding-top: 15px;padding-bottom: 0px;}
#repypm ul li {font-size:0.8em;}
#newuser {margin: 1.5em 0;}
.documentContent .km-listview-wrapper ul li table td:nth-child(3) a.docs-popup, .documentContent .km-listview-wrapper ul li table td:nth-child(3) a.k-state-border-down { background-size:76%;}
#aplicn_frm ul.low_creditop li, #aplicn_frm .rws .rwfilbc span {width:100%;}
#wrapper{min-width:320px; width:100%;}
#menutops {min-width: 320px;}
#top_rh .myacc {width: 99px;}
#top_rh .myacc a { background-position: -366px -174px; padding-left: 25px; }
/* 6 mar */
#aplicn_tp ul.app_nav li{ font-size:11px; margin-right:1%;}
.rw_lin.cngopt > p { width:86% !important; float:left!important;}
/* 6 mar */
#aplicn_frm .IN1 { width:270px; margin-right:0px;}
#aplicn_frm .IN1b { width:295px; margin-right:0px;}
#aplicn_frm .IN2 {width:267px; margin-right:0px;}
#aplicn_frm .IN1 {width:100%;}
#tabstrip-manage-app .recent-activity {padding:10px 0;}
#tabstrip-manage-app .recent-activity .rcnt-actty {border-bottom:1px solid #e5e5e5; padding-bottom:5px; margin-bottom:10px; text-align:center; font-size:1em; font-weight:bold; float:none; width:100%;}
#tabstrip-manage-app .recent-activity .applyFrshLon {width:100%; float:none; text-align:center; padding:5px 0;}
#tabstrip-manage-app .recent-activity .applyFrshLon a { font-size:1em;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li a span {width:25px; height:25px; font-size:12px; line-height:21px; left:34%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.end_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.sevd_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.lon_icon{ background-size:18%; background-position:center 10px!important;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li a {padding: 29px 0 0px 0;font-size: 12px; text-align:center; height:55px;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.postd_icn {background-size:20px;background-position:center 10px!important;}
#tabstrip-manage-app #tabstrip .k-content{margin: 14% 0 0;}
#tabstrip-manage-app #tabstrip .k-content ul.tabui li{ padding:15px;}
#tabstrip-manage-app #tabstrip .k-content ul.tabui li span:first-child, #tabstrip-manage-app #tabstrip .k-content ul.tabui li span{font-size:12px;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.k-state-active .actArw {left: 33%;bottom: -76%;}
#tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.lon_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.sevd_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.end_icon, #tabstrip-manage-app #tabstrip ul.k-tabstrip-items li.k-state-active.postd_icn {background-position: center 10px !important;}
#tabstrip-manage-app #tabstrip ul li a span{bottom: -15px;left: 34%;line-height: 26px;font-size: 13px;height: 30px;width: 30px;}
#tabstrip-manage-app #tabstrip .tabOne {margin: 9% 0 0;}
#tabstrip-manage-app #tabstrip ul li.k-state-active .actArw{bottom: -70%;left: 32%;background-size: 70%;background-position: center top;}
#tabstrip-manage-app #tabstrip ul li.end_icon, #tabstrip-manage-app #tabstrip ul li.k-state-active.end_icon, #tabstrip-manage-app #tabstrip ul li.k-state-active.sevd_icon, #tabstrip-manage-app #tabstrip ul li.sevd_icon, #tabstrip-manage-app #tabstrip ul li.lon_icon, #tabstrip-manage-app #tabstrip ul li.k-state-active.lon_icon{background-size:17%;}
#tabstrip-manage-app #tabstrip ul li.postd_icn, #tabstrip-manage-app #tabstrip ul li.k-state-active.postd_icn{ background-size:25%;}
#tabstrip-manage-app #tabstrip .tabOne ul.tabui li span, .tabOne .head span:last-child{width: 26%;}
#tabstrip-manage-app #tabstrip .tabOne ul.tabui li span:first-child, .tabOne .head span:first-child { color:#333;width: 73%;font-size: 13px;}
#tabstrip-manage-app #tabstrip ul li.end_icon, #tabstrip-manage-app #tabstrip ul li.k-state-active.end_icon{ background-size:20%;}
#tabstrip-manage-app #tabstrip div .tabOne .actArw {height: 13px; overflow:hidden;}
#tabstrip-manage-app #tabstrip div:nth-child(2) .tabOne .actArw {margin: 0 0 0 11%;}
#tabstrip-manage-app #tabstrip div:nth-child(3) .tabOne .actArw {margin: 0 0 0 45%;}
#tabstrip-manage-app #tabstrip div:nth-child(4) .tabOne .actArw {margin: 0 0 0 79%;}
#document-attach .km-rightitem {width:29%;}
#document-attach .km-rightitem a.docs-popup, #document-attach .km-rightitem a.refresh-com {height:50px;}
#document-attach .km-rightitem a.docs-popup {width: 45px;}
#document-attach .km-rightitem a.refresh-com {background-position: center 10px;background-size: 83%;}
#document-attach .km-rightitem a.refresh-loading {background-position: center 15px;background-size: 62%;}
.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png { background-size:46%;background-position: 10px 4px;padding: 5px 0;}
.documentList .wrap-content .row .name {margin-top: 9px;font-size: 13px;}
.documentList .wrap-content .row, .documentList .wrap-content .row.off {background-position: right 19px;}
.sub-row {padding: 9px 10px 7px 10px;}
body.vertical #tabstrip-download-file.modal-mess-Popup, body.vertical #tabstrip-upload-file.modal-mess-Popup {height: 33%;}
.docs-header .km-widget .docs-popup {background-size: 86%;width: 46px;}
li#undefined table td:nth-child(1).default-icon {background-size:45%;}
#matchDocList .filesBlock .file-name {width: 56%;}
.documentList .wrap-content .row .name a span.docscon {line-height:15px;}
.documentContent .km-listview-wrapper ul li table td:nth-child(3) {width: 5%;}
#tabstrip-manage-app .docs-popup {height: 48px;background-size: 80%;}
#scheduleForm li select {height: 40px;background-size: 21%;}
.home .popup, #tabstrip-Setting .popup, #tabstrip-loanapp-bi .popup, #tabstrip-loanapp-ci .popup, #tabstrip-loanapp-fp .popup, #tabstrip-loanapp-pi .popup {width: 50px;}
.home .popup {background-size: 80%;}
#aplicn_frm .rws .rwfil label {font-size: 0.85em;}
#blackBlk .desbrdIcon .dasimg {width:19%;}
#blackBlk .desbrdIcon {padding: 2%;}
#blackBlk .desbrdIcon .span span {padding:0% 0 0;}
#tabstrip-Setting .docs-docu{padding: 5px 0 0;width: 44%; }
#tabstrip-Setting .Setting-ac {padding: 4% 0 4% 18%;background-size: 8.5%;background-position: 20px 7px;}
#tabstrip-Setting ul#settingpage li {padding: 4% 0 4% 18%;background-size: 8.5%;background-position: 20px 7px;}
#tabstrip-Setting .docs-back {width:18%;background-size:95%; height:50px;background-position: 5px 5px; background-position:left 7px;}
#blackBlk .desbrdIcon .span {/*background-image: url("images/dshbord-bgIcon.png"); background-repeat:no-repeat; */ background-size:42px;display: block;padding: 15px 17%;color: #fff;font-size: 1.2em;background-position: left 4px;}
.documentContent .km-listview-wrapper ul li .docx, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .default-icon, .documentContent .km-listview-wrapper ul li .jpg, .documentContent .km-listview-wrapper ul li .doc, .documentContent .km-listview-wrapper ul li .txt, .documentContent .km-listview-wrapper ul li .xls, .documentContent .km-listview-wrapper ul li .pdf, .documentContent .km-listview-wrapper ul li .png {background-position: 14px 4px;padding: 5px 0; background-size:50%;}
li#undefined table td:nth-child(1).default-icon {background-size: 54%;}  
#tabstrip-manage-app .refresh-loading, #tabstrip-manage-app .refreshloan {width: 11%;}
html body .backButton {width: 73%;background-position: 5px 11px !important;}
#aplicn_frm .rws .rwfil label {font-size: 0.9em;}
.logLogo {margin: 2% auto 3%;height: 55px;background-size: 64%;}
#tabstrip-forgot-pass .view-content {margin-top: 3em;}
#newuser {margin: 2em 0;}
.forgtpass {padding: 10px 0 0px;}
#dynamicCl.km-popup-wrapper {height: 310px !important;}
}
@media screen and ( max-height: 320px ){
.logLogo {margin: 2% auto 2%;height: 48px;background-size: 55%;}
}
