@media (min-width:0px) and (max-width:1280px) {
.logo {margin: 2% auto 3%;}
.home .popup, #tabstrip-Setting .popup, #tabstrip-loanapp-bi .popup, #tabstrip-loanapp-ci .popup, #tabstrip-loanapp-fp .popup, #tabstrip-loanapp-pi .popup {width: 70px;}
#blackBlk .desbrdIcon .span {padding:3% 11% 3%;}
#homePage .testimonials h2 {padding: 4% 0 2% 10%;font-size: 1.2em;margin-bottom: 10px;}
#homePage .testimonials .test-content .test-r p {font-size: 1em;line-height: 21px;}
#homePage .testimonials .test-content .test-r span {font-size: 1em;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-select {background-position: 95% 8px;background-size: 7%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li + li .k-select {background-position: 96% 8px;background-size: 9%;}
#newuser ul.km-listinset li {margin-bottom: 1.5%;}
.matches-logo {background-position: 10px 11px;height: 60px;}
}

@media (min-width:0px) and (max-width:640px) {
.logLogo {margin: 2% auto 3%;}
html body .loginSection .km-list:not(.km-virtual-list)>li {margin: 0 0 2%;}
#tabstrip-manage-app .refresh-loading {height: 55px;background-size: 53%;background-position: center 10px;}
#tabstrip-manage-app .refreshloan {height: 55px;}
html body .backButton {width: 81%;background-size: 30% !important;background-position: 5px 10px !important;}
#tabstrip-manage-app .docs-popup {width: 60px;}
}
@media (min-width:0px) and (max-width:533px) {
.logLogo {margin: 1% auto 2%;background-size: 45%;}
html body .loginSection .km-list:not(.km-virtual-list)>li {margin: 0 0 2%;}
.forgtpass {padding: 0px 0 15px;}
.loginSection .km-listview-wrapper+*:not(.km-listview-wrapper) input[type=submit] { margin-bottom:15px;}
.loginSection ul li label input[type=text]:not(.k-input), .loginSection ul li label input[type=password] {padding: 0.8em!important;}
#homePage .testimonials .test-content .test-l { float:none; display:inline-block; width: 30%;}
#homePage .testimonials .test-content .test-r { float:none; width:100%;}
#homePage .testimonials .test-content {text-align:center;}    
}
@media (min-width:0px) and (max-width:384px) { 
.logLogo {margin:30% auto 10%;background-size:52%;}
#newuser ul.km-listinset li {margin-bottom: 5%;}
#newuser ul.km-listinset li select {background-size: 9%;}
#tabstrip-forgot-pass .view-content {margin-top:8em;}
.matches-logo {background-position: 10px 14px;height: 60px;background-size: 36%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li .k-select {background-position: 95% 8px;background-size: 12%;}
.schedulePopup .scheduleSection .km-listview-wrapper ul li + li .k-select {background-size: 15%;}
#blackBlk .desbrdIcon .span {padding: 3.5% 11% 3% 15%;background-size: 11%;}
}