body {
}

.Fbtn{width:80% !important;background:none !important}
.km-flat .km-button { }
.km-flat .km-button {
padding: .5em .8em;
border-style: none !important;
border-width: 1px;
border-radius: 3px;
}

.km-navbar .km-button {
margin-top: 0 !important;
margin-bottom: .5rem;
}

/*For remove the select box arrow*/
select::-ms-expand {display: none;}
/*
    select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    }
*/

/*for change the placeholder color*/
#datepicker:-ms-input-placeholder {color:#a9a9a9;}